/* nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
}

nav sign-out {
  font-size: 30px;
  text-decoration: underline;
  padding: 30px;
  cursor: pointer;
}

nav:hover {
  color: #363636; */
